<div class="carte-rapport">
    <h2>Intervention</h2>
    <div class="rapport">
        <div class="rapport__info">
            <h3>{{rapport.nomClient}}</h3>
            <p>Description : {{rapport.description}}</p>
            <p>Adresse du client : {{rapport.adresseClient}}</p>
            <p>Marque : {{rapport.marque}}</p>
            <p>Modèle : {{rapport.modele}}</p>
            <p>Date de mise en service : {{rapport.dateMiseEnService}}</p>

            <p>Nom du technicien : {{rapport.nomTechnicien}}</p>
            <p>Date de l'intervention : {{rapport.dateIntervention}}</p>
            <p>Numéro de série : {{rapport.numeroSerie}}</p>
            <p>Durée : {{rapport.duree}}</p>
        </div>
        <div class="rapport__actions">
            <!-- <button class="button" (click)="onEdit()">Modifier</button> -->
            <!-- <button class="button" (click)="onDelete()">Supprimer</button> -->
        </div>
    </div>
</div>
    