@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inconsolata:wght@300;400&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,500&display=swap');

form > * {
    display: flex;
    flex-direction: column;
}

.fichier-selection-label {
    font-family: 'Inconsolata', monospace;
    border: solid rgb(186, 186, 186) 1px;
    border-radius: 5px;
    padding: 6px;
    transition: 0.2s all;
    width: fit-content;
}

.fichier-selection-label:hover {
    border: solid 1px black;
    cursor: pointer;
}

body {
    justify-content: center;
}

form {
    margin: 80px auto auto auto;
    padding: 30px;
    display: grid;
    width: max-content;
    gap: 30px;
    background-color: white;
    border-radius: 4px;
}